extends layout

block content
  h1 mySFS API response
  p This is the POST data:
  h3 Transaction Status: #{status}
  p Amount: $#{auth_amount}
  p Card type: #{card_type}
  p Last 4: #{last_4}
  p Reference Number: #{reference_number}

